@keyframes grow {
  0% {
    transform: scale(1.0)
  }

  100% {
    transform: scale(1.2)
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.2)
  }

  100% {
    transform: scale(1.0)
  }
}

.footer {
  height: 90vh;
  background: #333 image-url('FooterImg_2x_Retina.jpg');
  background-size: cover;
  color: #fff;
  padding: 50px;

  @media (max-width: $phone) {
    padding: 40px 20px 20px 20px;
  }

  @media (min-width: $phone) and (max-width: $tablet) {
    height: 50vh;
  }

  .icons {

    .social-icon {

      img {
        width: 100%;
      }
    }

    .grow {
      animation: grow .5s;
    }

    .shrink {
      animation: shrink .5s;
    }

    .grown {
      transform: scale(1.2);
    }
  }

  .links {

    div {
      text-align: right;

      @media (max-width: $phone) {
        margin-top: 50px;
        text-align: center;
      }

      @media (min-width: $phone) and (max-width: $tablet) {
        margin-top: 5px;
      }
    }
  }

  .unstuck {
    margin-top: 150px;

    @media (max-width: $phone) {
      margin-top: 70px;
      text-align: center;

      .signup-email {
        margin: 10px 0 10px 0;
      }
    }

    .found {
      font-size: 1.2em;
    }
  }

  .copyright {
    margin-top: 180px;
    text-align: right;
    font-size: 12px;
  }
}
