.footer {
  height: 90vh;
  background: #333 image-url('FooterImg_2x_Retina.jpg');
  background-size: cover;
  color: #fff;
  padding: 50px;

  @media (max-width: $phone) {
    padding: 40px 20px 20px 20px;
  }

  .icons {

    img {
      width: 100%;
    }
  }
  .links {

    div {
      text-align: right;

      @media (max-width: $phone) {
        margin-top: 50px;
        text-align: center;
      }
    }
  }
}