
a {
  color: inherit;

  &:hover {
    text-decoration: none;
    color:#716867;
  }
}

section {
  color: $black;
}

.heading {
  font-family : 'Futura Heavy', Trebuchet MS, Arial, sans-serif;
  font-size : 36px;
  line-height : 49.93px;
  letter-spacing : 0.54px;
  color : #423535 ;
}

.body {
  font-family: 'Fjord', Georgia, 'Times New Roman', serif;
  font-size: 20px;
  line-height: 43.83px;
  color: #716867;
}

.menu-item {
  font-family: 'Futura Book';
  font-size : 16px;
  letter-spacing : 1.36px;
  color : #FFF;
}

.centered {
  text-align: center;

  @media (max-width: $phone) {
    text-align: left;
  }
}

.field_with_errors {
  border: 1px solid red;
}