
a, a:visited {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $link-hover;
  }
}

section {
  color: $black;
}

.heading {
  font-family: 'Futura Heavy', Trebuchet MS, Arial, sans-serif;
  font-size: 36px;
  line-height: 49.93px;
  letter-spacing: 0.54px;
  color: #423535;
}

.body {
  font-family: 'Fjord', Georgia, 'Times New Roman', serif;
  font-size: 20px;
  line-height: 43.83px;
  color: #716867;
}

.menu-item {
  font-family: 'Futura Book';
  font-size: 16px;
  letter-spacing: 1.36px;
  color: #FFF;

  @media (min-width: $phone) and (max-width: $tablet) {
    font-size: 20px;
  }
}

.centered {
  text-align: center;
}

.field_with_errors {
  border: 1px solid red;
}