@keyframes iconSlideIn {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
    top: -100px;
  }

  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

.nav-custom {
  height: 12vh;
  background: $red-orange;
  border-radius: 0;
  border: none;
  margin: 0;
  color: $white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  z-index: 9999;

  @media (max-width: $phone) {
    height: 10vh;
  }

  .menu {
    margin-top: 10px;
    text-align: center;

    img {
      width: 75px;
      position: relative;
      top: 12px;
      filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));


      @media (max-width: $phone) {
        width: 50px;
        top: 12px;
      }
    }

    .slide-in {
      animation: iconSlideIn 2s;
    }
  }
}