.hero {
  background: #e3e3e3 image-url('HeroImage_2x_Retina.jpg');
  background-size: cover;
  height: 100vh;
  color: $white;

  @media (max-width: $phone) {
    height: 40vh;
  }

  .title {
    margin-top: 12%;
    padding: 30px;

    @media (max-width: $phone) {
      margin-top: 12%;
    }

    img {
      filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));
      opacity: 0.93;
    }
  }
}