.hero {
  background: #e3e3e3 image-url('HeroImage_2x_Retina.jpg');
  background-size: cover;
  height: 90vh;
  color: $white;

  @media (max-width: $phone) {
    height: 40vh;
  }

  .title {
    margin-top: 8%;
    //    background: rgba(51, 51, 51, 0.3);
    padding: 30px;

    @media (max-width: $phone) {
      margin-top: 12%;
    }
  }
}