.manifesto {
  padding-top: 130px;
  padding-bottom: 60px;
  background: #0E0505;
  color: #fff;

  h1 {
    color: #fff;
    margin-bottom: 50px;
  }

  p {
    font-family: 'Fjord', Georgia, 'Times New Roman', serif;
    font-size: 20px;
    color: #fff;
  }

  h3 {
    font-family: 'Futura Heavy';
  }
}