.manifesto {
  padding: 60px 40px;
  background: #0E0505;
  color: #fff;

  h1 {
    color: #fff;
  }

  p {
    font-family: 'Fjord', Georgia, 'Times New Roman', serif;
    font-size: 20px;
    color: #fff;
  }

  h3 {
    font-family: 'Futura Heavy';
  }
}