.signup {
  color: $white;
  font-family: 'Futura Book';

  .signup-email {
    background: transparent;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border: 1px solid #fff;
  }

  .signup-submit {
    height: 40px;
    border: none;
    color: $white;
    padding-top: 10px;
    border-radius: 150px;
    background: $red-orange;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;

    &:hover {
      opacity: 1.0;
    }
  }

  .signup-confirm {
    margin-top: 5px;
    margin-bottom: 5px;
    color: $white;
  }
}

.unstuck {
  margin-top: 150px;

  @media (max-width: $phone) {
    margin-top: 70px;
    text-align: center;

    .signup-email {
      margin: 10px 0 10px 0;
    }
  }

  .found {
    font-size: 1.2em;
  }
}

.stuck {
  background: rgba(64, 50, 49, 0.8);
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;

  @media (max-width: $phone) {
    display: none;
  }
  .row > div:nth-child(1) {
//    margin-right: -30px;
  }

  .row > div:nth-child(2) {
//    margin-right: -15px;
  }

  .info {
    position: relative;
    top: 5px;

    .found {
      font-size: 1.2em;
    }
  }

  .signup-email {
    position: relative;
    top: 8px;
  }

  .signup-submit {
    position: relative;
    top: 8px;
  }

  #signup-close {
    cursor: pointer;
    text-align: right;

    img {
      width: 40px;
      position: relative;
      left: 35px;
      top: 7px;
    }
  }

  .signup-confirm {
    text-align: center;
  }
}