// -- HERO --

.top {
  background: #e3e3e3 image-url('HeroImage_2x_Retina.jpg');
  background-size: cover;
  height: 90vh;
  color: $white;

  @media (max-width: $phone) {
    height: 60vh;
  }

  .title {
    margin-top: 8%;
    background: rgba(51, 51, 51, 0.3);
    padding: 30px;

    @media (max-width: $phone) {
      margin-top: 20%;
    }
  }
}

// -- INTRO/PHONE --

.intro {
  padding: 30px 20px 50px 20px;

  img {
    width: 100%;

    @media (max-width: $phone) {
      display: none;
    }
  }

  .intro-container {
    margin-top: 30px;
  }
}

// -- RIVER --

.river {
  background: #333 image-url('SecondImg_2x_Retina.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 79vh;
  padding-top: 30px;

  @media (max-width: $phone) {
    height: 50vh;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .text {

    .who, .friends, .no-one {
      background: rgba(121, 182, 218, 0.9);
      color: #fff;
      padding: 0 0 10px 20px;

      h1 {
        font-size: 3em;

        @media (max-width: $phone) {
          margin: 0;
        }
      }
    }

    .no-one {
      margin-left: 0;
    }
  }
}

// -- QUIP --

.quip {
  padding: 30px;

  .text {
    margin-top: 40px;
    margin-bottom: 40px;

    @media (max-width: $phone) {
      margin: auto;
    }
  }
  .image {
    background: #333;
    height: 420px;

    @media (max-width: $phone) {
      display: none;
    }
  }
}

// -- TEAM --

.team {
  background: #0E0505;
  padding: 40px 0 40px 0;
  color: #fff;

  .bios {

    h1, h2 {
      margin: 0;
    }

    h2 {
      margin-bottom: 20px;
      color: #fff;
      font-family: 'Futura Heavy';
    }

    .info {
      padding: 0;
      color: #fff;
      list-style: none;
    }
  }

  .images {
    margin-top: 30px;
    margin-bottom: 30px;

    .profile-image {
      @media (max-width: $phone) {
        margin-bottom: 20px;
      }

      .hexagon {
        position: relative;
        width: 150px;
        height: 86.60px;
        margin: 43.30px 0;
        background-size: auto 166.2769px;
        background-position: center;
      }

      .hexTop,
      .hexBottom {
        position: absolute;
        z-index: 1;
        width: 106.07px;
        height: 106.07px;
        overflow: hidden;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background: inherit;
        left: 18.97px;
      }

      /*counter transform the bg image on the caps*/
      .hexTop:after,
      .hexBottom:after {
        content: "";
        position: absolute;
        width: 144.0000px;
        height: 83.13843876330613px;
        -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-41.5692px);
        -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-41.5692px);
        transform: rotate(45deg) scaleY(1.7321) translateY(-41.5692px);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        background: inherit;
      }

      .hexTop {
        top: -53.0330px;
        border-top: solid 4.2426px #333333;
        border-right: solid 4.2426px #333333;
      }

      .hexTop:after {
        background-position: center top;
      }

      .hexBottom {
        bottom: -53.0330px;
        border-bottom: solid 4.2426px #333333;
        border-left: solid 4.2426px #333333;
      }

      .hexBottom:after {
        background-position: center bottom;
      }

      .hexagon:after {
        content: "";
        position: absolute;
        top: 1.7321px;
        left: 0;
        width: 144.0000px;
        height: 83.1384px;
        z-index: 2;
        background: inherit;
      }

      .red {
        border-left: solid 3px $border-red;
        border-right: solid 3px $border-red;

        &:nth-child(2) {
        }

        .hexTop {
          border-top: solid 4.2426px $border-red;
          border-right: solid 4.2426px $border-red;
        }

        .hexBottom {
          border-bottom: solid 4.2426px $border-red;
          border-left: solid 4.2426px $border-red;
        }
      }

      .blue {
        border-left: solid 3px $border-blue;
        border-right: solid 3px $border-blue;

        .hexTop {
          border-top: solid 4.2426px $border-blue;
          border-right: solid 4.2426px $border-blue;
        }

        .hexBottom {
          border-bottom: solid 4.2426px $border-blue;
          border-left: solid 4.2426px $border-blue;
        }
      }

      .brown {
        border-left: solid 3px $border-brown;
        border-right: solid 3px $border-brown;

        .hexTop {
          border-top: solid 4.2426px $border-brown;
          border-right: solid 4.2426px $border-brown;
        }

        .hexBottom {
          border-bottom: solid 4.2426px $border-brown;
          border-left: solid 4.2426px $border-brown;
        }
      }
    }

    .active {

      .hexagon {
        border-left: solid 3px #fff;
        border-right: solid 3px #fff;

        .hexTop {
          border-top: solid 4.2426px #fff;
          border-right: solid 4.2426px #fff;
        }

        .hexBottom {
          border-bottom: solid 4.2426px #fff;
          border-left: solid 4.2426px #fff;
        }
      }
    }
  }

  .vision {
    text-align: center;
    margin-top: 40px;

    img {
      width: 100px;
    }

    a {
      text-decoration: underline;
    }
  }

  h1, p {
    color: #F2F4F1;
    width: 100%;
  }
}

// -- SIGNUP --

.signup {
  color: $white;
  font-family: 'Futura Book';

  .signup-email {
    background: transparent;
    height: 45px;
    width: 100%;
    padding-left: 10px;
  }

  .signup-submit {
    height: 45px;
    font-size: 2em;
    font-weight: 200;
    border: none;
    color: $white;
    padding: 0;
    border-radius: 150px;
    background: $red-orange;
    text-align: center;
    cursor: pointer;
  }
}

.unstuck {
  margin-top: 150px;

  @media (max-width: $phone) {
    margin-top: 70px;
    text-align: center;

    .signup-email {
      margin: 10px 0 10px 0;
    }
  }

  .signup-email, .signup-submit, .info {
  }

  .found {
    font-size: 1.2em;
  }
}

.stuck {
  background: rgba(64, 50, 49, 0.8);
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;

  @media (max-width: $phone) {
    display: none;
  }
  .row > div {
    margin-right: -15px;
  }
  .info {
    position: relative;
    top: 5px;

    .found {
      font-size: 1.2em;
    }
  }

  .signup-email {
    position: relative;
    top: 5px;
  }

  .signup-submit {
    position: relative;
    top: 5px;
  }

  #signup-close {
    cursor: pointer;
    text-align: right;

    img {
      width: 40px;
      position: relative;
      left: 35px;
      top: 7px;
    }
  }

  .signup-confirm {
    text-align: center;
    font-size: 2em;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}