<section class="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 title">
        <%= image_tag 'NileHeroType.svg' %>
      </div>
    </div>
  </div>
</section>
<section class="intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 phone">
        <%= image_tag 'phone.png' %>
      </div>
      <div class="col-sm-7 intro-container">
        <h1 class="heading">The Social Atlas</h1>

        <p class="body">
          The Social Atlas brings together suggestions from friends and tips from locals into a simple map interface. By
          planning with the people who know you the best and locals who know the area the best, Nile travelers
          experience culturally enriched trips catered to their interests.
        </p>
      </div>
    </div>
  </div>
</section>