<section class="quip">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text">
        <p class="body">
          Nile gathers travel suggestions in one place, taming the torrent of travel recommendations that comes with
          announcing your next trip on social media. By planning with friends who know you the best, and drawing on the
          insights of people who know the area the best, Nile travelers are confident that they’re making the very most
          of their trip.
        </p>
      </div>
      <!--<div class="col-xs-12 col-sm-3 image">-->
    </div>
  </div>
</section>