<section class="quip">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h1 class="heading">The Ambassadors</h1>
      </div>
      <div class="col-sm-8 col-sm-offset-2 text">
        <p class="body">
          Ambassadors are a rare breed. They are the verified-locals inspired to share the places that make their city
          great. Their local insight empowers Nile travelers to explore the heart and soul of the cities they’re
          visiting.Nile is looking for ambassadors to help build the social atlas. If you’re interested, send us an email and we’ll give you first access to Nile.
          <%= link_to 'Email Us', '', class: 'bolded' %>
        </p>
      </div>
      <!--<div class="col-xs-12 col-sm-3 image">-->
    </div>
  </div>
</section>