<section class="river">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text">
        <div class="row">
          <div class="who">
            <h1 class="heading">Who knows you better than your</h1>
          </div>
        </div>
        <div class="row">
          <div class="friends">
            <h1 class="heading">friends and family?</h1>
          </div>
        </div>
        <div class="row">
          <div class="no-one">
            <h1 class="heading">No one.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
