<section class="signup stuck">
  <div class="row">
    <div class="col-xs-7 col-sm-2 col-sm-offset-2 info">
      <span class="found">Be a Founding Member</span>

      <p>Join <%= follower_count %> Nile Travellers</p>
    </div>
    <div class="col-xs-5 col-sm-4">
      <%= email_field_tag 'signup-email', nil, class: 'signup-email' %>
    </div>
    <div class="col-xs-10 col-sm-2">
      <div class="signup-submit menu-item">SIGN UP</div>
    </div>
    <div class="col-sm-1 col-sm-offset-1" id="signup-close">
      <%= image_tag 'CloseOutX.svg' %>
    </div>
  </div>
</section>