<section class="splash-vision">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 vision centered">
        <%= image_tag 'NileLogoBlueRedLP_1.svg', id: 'vision-logo' %>
        <h1 class="heading">Our Vision</h1>

        <p class="body">Nile is a public benefit corporation. We want you to have amazing travels without the hassle of
          having to
          weed through deceptive reviews or a mess of suggestions. We don't believe in selling user data. We do believe
          we should be low impact campers leaving the world (and web) a better place than we found
          it. <%= link_to 'Read our vision statement >>', vision_path %></p>
      </div>
    </div>
  </div>
</section>