<section class="manifesto">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="heading centered">Manifesto</h1>

        <h3>We want you to travel incredibly.</h3>

        <p class="body">
          Today, the travel and review landscape is awash with opportunistic sites. While these sites provide some value
          to the
          user, the cost of such utility is hidden and greater than you might imagine. Masquerading as tools for your
          benefit,
          these sites actually seek to collect and sell your information to the highest bidder, to generate revenue
          through
          showing as many ads as possible, to get a cut by promoting an affiliate with misleading or fabricated reviews,
          or to
          hide and manipulate critical reviews for payment, and bullying those who refuse. The list of offenders is
          quite
          long.

          We believe there’s a better, more honest way to travel. Nile makes planning incredible trips incredibly easy,
          avoiding
          the hassle of weeding through deceptive reviews or a tangled mess of suggestions. By measuring the importance
          of
          a
          location by validated check-ins and likes, rather than a star rating system, we avoid the pitfall of being a
          host for
          retaliatory or deceptive reviews.

          We will never sell your information. We will never manipulate comments and reviews. We believe that we should
          be
          low
          impact campers leaving the world (and web) a better place than we found it.

          Nile is a registered Public Benefit Corporation and committed to a triple bottom line. This means that success
          for our
          company is legally impossible without honesty and integrity. We will only succeed by respecting our users, by
          keeping
          our promises and investing in the community, and by being kind to the most critical part of our business -
          this
          beautiful, incredible planet that should be explored to the fullest.

        <h3 class="centered">
          Time is precious. Travel incredibly. Travel with Nile.
        </h3>
        </p>
      </div>
    </div>
  </div>
</section>
