<section class="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 title">
        <p class="main">native</p>
        <p class="sub">Travel like a local</p>
      </div>
    </div>
  </div>
</section>
<div class="signup">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-2 info">
      <h2>Be a Founding Member</h2>

      <p></p>
    </div>
  </div>
</div>