<section class="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 title">
        <p class="main">native</p>

        <p class="sub">Travel like a local</p>
      </div>
    </div>
  </div>
</section>
<section class="intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 phone">
        <%= image_tag 'phone.png' %>
      </div>
      <div class="col-sm-7 col-sm-offset-1 intro-container">
        <h1 class="heading">Local Knowledge. Authentic Adventures.</h1>

        <p class="body">Native empowers travelers to dig deeper into any locale, unearthing the hidden cultural gems,
          the hip insider spots, as well as the touristy things that are actually worth waiting in line for. In other
          words, Native guides you to the true soul of a city.</p>
      </div>
    </div>
  </div>
</section>
<section class="river">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>Who knows you better than your friends and family?<br>No one.</h1>
      </div>
    </div>
  </div>
</section>
<section class="signup">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-2 info">
      <h3>Be a Founding Member</h3>
      <p>Join <%= @signups.length %></p>
    </div>
  </div>
</section>