<section class="vision">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1 class="heading centered">Vision Statement</h1>

        <h3>We want you to travel incredibly.</h3>

        <p class="body">
          Today, the travel and review landscape is awash with opportunistic sites. Masquerading as tools for your
          benefit, these sites actually seek to collect and sell your information for profit, to generate revenue
          through showing as many ads as possible, to earn commissions through misleading or fabricated affiliate
          reviews, or to hide and manipulate critical reviews for payment, and bullying those who refuse to comply.

          We believe there’s a better, more honest way to travel. Nile puts the user first, making planning incredible
          trips easy. By measuring the importance of a location by validated check-ins and likes, rather than a star
          rating system, users avoid the hassle of weeding through deceptive reviews or a tangled mess of suggestions.

          We will never sell your information. We will never manipulate comments and reviews. We believe that we should
          be low impact campers leaving the world (and web) a better place than we found it.

          Nile is a registered Public Benefit Corporation and committed to a triple bottom line. This means that success
          for our company is legally impossible without honesty and integrity. We will only succeed by respecting our
          users, by keeping our promises and investing in the community, and by being kind to the most critical part of
          our business - this beautiful, incredible planet that should be explored to the fullest.
        <h3>
          Time is precious. Travel incredibly.        </h3>
        </p>
      </div>
    </div>
  </div>
</section>
