@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes backspin {
  100% {
    transform: rotate(0deg);
  }
}

.rotate {
  animation: spin .5s;
}

.rotated {
  transform: rotate(45deg);
}

.unrotate {
  animation: backspin .5s;
}