@import "variables";

a {
  color: inherit;

  &:hover {
    text-decoration: none;
    color:#716867;
  }
}

section {
  color: $black;
}

.heading {
  font-family : Futura Std, Futura, Trebuchet MS, Arial, sans-serif;
  font-size : 36px;
  line-height : 70.93px;
  letter-spacing : 0.54px;
  color : #423535;
  text-align: center;
}

.body {
  font-family: 'Fjord', Georgia, 'Times New Roman', serif;
  font-size: 20px;
  line-height: 43.83px;
  color: #716867;
  text-align: left;

  @media (max-width: $phone) {
    text-align: center;
  }
}

.field_with_errors {
  border: 1px solid red;
}