@import "variables";

.nav-custom {
  height: 10vh;
  background: $red-orange;
  border-radius: 0;
  border: none;
  margin: 0;
  color: $white;

  .menu {
    margin-top: 10px;
    text-align: center;
  }
}