@import "variables";

.top {
  background: #e3e3e3 image-url('HeroImage_2x_Retina.jpg');
  background-size: cover;
  height: 90vh;
  color: $white;

  .title {
    margin-top: 8%;
    background: rgba(51, 51, 51, 0.3);
    padding: 30px;
  }
}

.intro {
  padding: 30px 20px 50px 20px;

  img {
    width: 100%;
  }

  .intro-container {
    margin-top: 30px;
  }
}

.river {
  background: #333 image-url('SecondImg_2x_Retina.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 78vh;
  padding-top: 30px;

  img {
    width: 100%;
    height: 100%;
  }

  .text {

    .who, .friends, .no-one {
      background: rgba(121, 182, 218, 0.9);
      color: #fff;
      padding: 0 0 10px 20px;

      h1 {
        font-size: 3em;
      }
    }

    .no-one {
      margin-left: 0;
    }
  }
}

.quip {
  padding: 30px;

  .text {
    margin: 100px 50px 100px 50px;
  }
  .image {
    background: #333;
    height: 340px;
  }
}

.team {
  background: #0E0505;
  padding: 40px 0 40px 0;

  .who {
    text-align: center;

    h1 {
      color: #F2F4F1;
    }
  }

  .images {
    margin-top: 30px;
    margin-bottom: 30px;

    .profile-image {

      .hexagon {
        cursor: pointer;
        position: relative;
        width: 150px;
        height: 86.60px;
        margin: 43.30px 0;
        background-image: url(http://csshexagon.com/img/meow.jpg);
        background-size: auto 166.2769px;
        background-position: center;
      }

      .hexTop,
      .hexBottom {
        position: absolute;
        z-index: 1;
        width: 106.07px;
        height: 106.07px;
        overflow: hidden;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background: inherit;
        left: 18.97px;
      }

      .hexTop:after,
      .hexBottom:after {
        content: "";
        position: absolute;
        width: 140.0000px;
        height: 83.13843876330613px;
        -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-41.5692px);
        -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-41.5692px);
        transform: rotate(45deg) scaleY(1.7321) translateY(-41.5692px);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        background: inherit;
      }

      .hexTop {
        top: -53.0330px;
      }

      .hexTop:after {
        background-position: center top;
      }

      .hexBottom {
        bottom: -53.0330px;
      }

      .hexBottom:after {
        background-position: center bottom;
      }

      .hexagon:after {
        content: "";
        position: absolute;
        top: 1.7321px;
        left: 0;
        width: 144.0000px;
        height: 83.1384px;
        z-index: 2;
        background: inherit;
      }

      .red {
        border-left: solid 3px $border-red;
        border-right: solid 3px $border-red;
        background-image: url('http://csshexagon.com/img/meow.jpg');

        .hexTop {
          border-top: solid 4.2426px $border-red;
          border-right: solid 4.2426px $border-red;
        }

        .hexBottom {
          border-bottom: solid 4.2426px $border-red;
          border-left: solid 4.2426px $border-red;
        }
      }

      .blue {
        border-left: solid 3px $border-blue;
        border-right: solid 3px $border-blue;
        background-image: url('http://csshexagon.com/img/meow.jpg');

        .hexTop {
          border-top: solid 4.2426px $border-blue;
          border-right: solid 4.2426px $border-blue;
        }

        .hexBottom {
          border-bottom: solid 4.2426px $border-blue;
          border-left: solid 4.2426px $border-blue;
        }
      }

      .brown {
        border-left: solid 3px $border-brown;
        border-right: solid 3px $border-brown;
        background-image: url('http://csshexagon.com/img/meow.jpg');

        .hexTop {
          border-top: solid 4.2426px $border-brown;
          border-right: solid 4.2426px $border-brown;
        }

        .hexBottom {
          border-bottom: solid 4.2426px $border-brown;
          border-left: solid 4.2426px $border-brown;
        }
      }
    }
  }

  .vision {
    text-align: center;
    margin-top: 40px;

    img {
      width: 100px;
    }
  }

  h1, p {
    color: #F2F4F1;
    width: 100%;
  }
}

.signup {
  background: rgba(64, 50, 49, 0.8);
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $white;
  z-index: 9999;

  .info {
    position: relative;
    top: 5px;

    .found {
      font-size: 1.5em;
    }
  }

  .signup-email {
    background: transparent;
    height: 50px;
    position: relative;
    top: 5px;
    left: -70px;
  }

  .signup-submit {
    position: relative;
    top: 5px;
    left: -60px;
    height: 50px;
    font-size: 2em;
    font-weight: 200;
    border: none;
    color: $white;
    padding: 0;
    border-radius: 150px;
    background: $red-orange;
    text-align: center;

    span {
      position: relative;
      top: 4px;
    }
  }

  #signup-close {
    font-size: 2.5em;
    font-weight: 100;
    float: right;
    position: relative;
    right: 35px;
    top: 5px;
    cursor: pointer;
  }

  .signup-confirm {
    text-align: center;
    font-size: 2em;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.footer {
  height: 90vh;
  background: #333 image-url('FooterImg_2x_Retina.jpg');
  background-size: contain;
  color: #fff;
  padding: 70px;

  .icons {
    .icon-hex {
      position: relative;
      width: 50px;
      height: 28.87px;
      background-color: transparent;
      margin: 14.43px 0;
      border-left: solid 2px #ffffff;
      border-right: solid 2px #ffffff;
      text-align: center;
    }

    .icon-hex:before,
    .icon-hex:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 35.36px;
      height: 35.36px;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background-color: inherit;
      left: 5.3223px;
    }

    .icon-hex:before {
      top: -17.6777px;
      border-top: solid 2.8284px #ffffff;
      border-right: solid 2.8284px #ffffff;
    }

    .icon-hex:after {
      bottom: -17.6777px;
      border-bottom: solid 2.8284px #ffffff;
      border-left: solid 2.8284px #ffffff;
    }
  }
  .links {

    div {
      float: right;
    }
  }
}